.profile {
  @include props-flex-center;

  flex-direction: column;
  margin: 16px;

  > img {
    border-radius: 50%;
  }

  > .user-name {
    padding: 16px 0;
    font-size: 20px;
    font-weight: $text-weight-semibold;
  }

  > .user-bio {
    font-size: 12px;
    color: var(--color-fg-muted);
    letter-spacing: -0.5px;
  }
}
