.body {
  @include selector-scrollbar;

  display: grid;
  grid-template-rows: $size-header-height 1fr;
  grid-template-columns: $size-sidebar-width 1fr;
  font-family: $font-stack-system;
  color: var(--color-fg-default);
  background-color: var(--color-bg-inset);

  > header {
    grid-area: 1 / 1 / 2 / 3;
  }

  > aside {
    grid-area: 2 / 1 / 3 / 2;
  }

  > main {
    grid-area: 2 / 2 / 3 / 3;
  }
}
