.dark-mode-toggle {
  @include props-flex-center;

  &:hover {
    @include props-animation-shake;
  }

  .mode-switcher {
    /* variables */
    $light-color: var(--color-fg-default);
    $dark-color: var(--color-bg-inset);
    $sun-color: #f9d71c;
    $circle-size: 2rem;
    $duration: 0.5s;
    $timing: cubic-bezier(0.68, -0.55, 0.265, 1.55);

    /* properties */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: $circle-size;
    height: $circle-size;
    padding: 0;
    overflow: hidden;
    cursor: pointer;
    background: none;
    border: 0;
    border-radius: 50%;
    transition: all $duration $timing;
    transform: rotate(0deg);

    /* selectors */
    &-main-body {
      display: block;
      width: 80%;
      height: 80%;
      background-color: $light-color;
      border-radius: 50%;
      transition: all $duration $timing;
    }

    &-shadow-shape {
      position: absolute;
      top: -5%;
      right: 0;
      display: block;
      width: 80%;
      height: 80%;
      background-color: $dark-color;
      border-radius: 50%;
      transition:
        all $duration $timing,
        background-color 0s;
      transform: rotate(20deg);
      transform-origin: 100% 100%;
    }

    &-sunray {
      position: absolute;
      top: 50%;
      left: 50%;
      display: block;
      width: calc($circle-size * 0.12);
      height: 20%;
      opacity: 0;
      transition: all $duration $timing;

      &::before,
      &::after {
        position: absolute;
        left: 0;
        width: calc($circle-size * 0.12);
        height: calc($circle-size * 0.12);
        content: '';
        background-color: $sun-color;
        border-radius: 50%;
      }

      &::before {
        top: 0;
      }

      &::after {
        bottom: 0;
      }

      &-sunray-1 {
        transform: translate(-50%, -50%);
      }

      &-sunray-2 {
        transform: translate(-50%, -50%) rotate(45deg);
      }

      &-sunray-3 {
        transform: translate(-50%, -50%) rotate(90deg);
      }

      &-sunray-4 {
        transform: translate(-50%, -50%) rotate(135deg);
      }
    }

    &.active {
      transform: rotate(45deg);

      .mode-switcher-main-body {
        width: 50%;
        height: 50%;
        background-color: $sun-color;
      }

      .mode-switcher-shadow-shape {
        transform: rotate(90deg);
      }

      .mode-switcher-sunray {
        height: 90%;
        opacity: 1;
      }
    }
  }
}
