/* props */
@mixin props-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin props-animation-fade-in {
  animation: fade-in 0.6s ease-in-out;

  @keyframes fade-in {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
}

@mixin props-animation-shake {
  animation: shake 0.6s ease-in-out;

  @keyframes shake {
    0% {
      transform: rotate(0deg) translateX(0);
    }

    25% {
      transform: rotate(-6deg) translateX(-0.5px);
    }

    50% {
      transform: rotate(6deg) translateX(0.5px);
    }

    65% {
      transform: rotate(-3deg) translateX(-0.25px);
    }

    80% {
      transform: rotate(3deg) translateX(0.25px);
    }

    100% {
      transform: rotate(0deg) translateX(0);
    }
  }
}

/* selector */
@mixin selector-hover-default {
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: var(--color-bg-neutral-muted);
    border-radius: $size-border-radius;
  }
}

@mixin selector-scrollbar($width: 4px) {
  overflow: hidden auto;

  // Global usage: `*::webkit-scrollbar`.
  &::-webkit-scrollbar {
    @if $width == 0 {
      display: none;
    } @else {
      width: $width;

      &-thumb {
        background-color: var(--color-border-default);
        border-radius: $size-border-radius;
      }
    }
  }
}
