.links {
  @include props-flex-center;

  padding: 8px 0 16px;
  margin: 8px 0;

  > li > a {
    @include props-flex-center;
    @include selector-hover-default;

    &:hover {
      > svg {
        @include props-animation-shake;
      }
    }

    flex-direction: column;
    padding: 6px;

    > * {
      width: 40px;
      margin: 2px;
    }

    > svg {
      width: $size-24;
      height: $size-24;
    }

    > span {
      @include props-flex-center;

      color: var(--color-fg-muted);
      letter-spacing: -1px;
    }
  }
}
