.article {
  box-sizing: border-box;
  width: 100%;
  min-width: 200px;
  max-width: 980px;
  padding: 45px;
  margin: 0 auto;

  img {
    border-radius: 6px;
  }

  @media (width <= 767px) {
    padding: 15px;
  }
}
