@layer base {
  html:not(#{$config-base-not-pseudo-class-selector}),
  body:not(#{$config-base-not-pseudo-class-selector}),
  div:not(#{$config-base-not-pseudo-class-selector}),
  span:not(#{$config-base-not-pseudo-class-selector}),
  applet:not(#{$config-base-not-pseudo-class-selector}),
  object:not(#{$config-base-not-pseudo-class-selector}),
  iframe:not(#{$config-base-not-pseudo-class-selector}),
  h1:not(#{$config-base-not-pseudo-class-selector}),
  h2:not(#{$config-base-not-pseudo-class-selector}),
  h3:not(#{$config-base-not-pseudo-class-selector}),
  h4:not(#{$config-base-not-pseudo-class-selector}),
  h5:not(#{$config-base-not-pseudo-class-selector}),
  h6:not(#{$config-base-not-pseudo-class-selector}),
  p:not(#{$config-base-not-pseudo-class-selector}),
  blockquote:not(#{$config-base-not-pseudo-class-selector}),
  pre:not(#{$config-base-not-pseudo-class-selector}),
  a:not(#{$config-base-not-pseudo-class-selector}),
  abbr:not(#{$config-base-not-pseudo-class-selector}),
  acronym:not(#{$config-base-not-pseudo-class-selector}),
  address:not(#{$config-base-not-pseudo-class-selector}),
  big:not(#{$config-base-not-pseudo-class-selector}),
  cite:not(#{$config-base-not-pseudo-class-selector}),
  code:not(#{$config-base-not-pseudo-class-selector}),
  del:not(#{$config-base-not-pseudo-class-selector}),
  dfn:not(#{$config-base-not-pseudo-class-selector}),
  em:not(#{$config-base-not-pseudo-class-selector}),
  img:not(#{$config-base-not-pseudo-class-selector}),
  ins:not(#{$config-base-not-pseudo-class-selector}),
  kbd:not(#{$config-base-not-pseudo-class-selector}),
  q:not(#{$config-base-not-pseudo-class-selector}),
  s:not(#{$config-base-not-pseudo-class-selector}),
  samp:not(#{$config-base-not-pseudo-class-selector}),
  small:not(#{$config-base-not-pseudo-class-selector}),
  strike:not(#{$config-base-not-pseudo-class-selector}),
  strong:not(#{$config-base-not-pseudo-class-selector}),
  sub:not(#{$config-base-not-pseudo-class-selector}),
  sup:not(#{$config-base-not-pseudo-class-selector}),
  tt:not(#{$config-base-not-pseudo-class-selector}),
  var:not(#{$config-base-not-pseudo-class-selector}),
  b:not(#{$config-base-not-pseudo-class-selector}),
  u:not(#{$config-base-not-pseudo-class-selector}),
  i:not(#{$config-base-not-pseudo-class-selector}),
  center:not(#{$config-base-not-pseudo-class-selector}),
  dl:not(#{$config-base-not-pseudo-class-selector}),
  dt:not(#{$config-base-not-pseudo-class-selector}),
  dd:not(#{$config-base-not-pseudo-class-selector}),
  ol:not(#{$config-base-not-pseudo-class-selector}),
  ul:not(#{$config-base-not-pseudo-class-selector}),
  li:not(#{$config-base-not-pseudo-class-selector}),
  fieldset:not(#{$config-base-not-pseudo-class-selector}),
  form:not(#{$config-base-not-pseudo-class-selector}),
  label:not(#{$config-base-not-pseudo-class-selector}),
  legend:not(#{$config-base-not-pseudo-class-selector}),
  table:not(#{$config-base-not-pseudo-class-selector}),
  caption:not(#{$config-base-not-pseudo-class-selector}),
  tbody:not(#{$config-base-not-pseudo-class-selector}),
  tfoot:not(#{$config-base-not-pseudo-class-selector}),
  thead:not(#{$config-base-not-pseudo-class-selector}),
  tr:not(#{$config-base-not-pseudo-class-selector}),
  th:not(#{$config-base-not-pseudo-class-selector}),
  td:not(#{$config-base-not-pseudo-class-selector}),
  article:not(#{$config-base-not-pseudo-class-selector}),
  aside:not(#{$config-base-not-pseudo-class-selector}),
  canvas:not(#{$config-base-not-pseudo-class-selector}),
  details:not(#{$config-base-not-pseudo-class-selector}),
  embed:not(#{$config-base-not-pseudo-class-selector}),
  figure:not(#{$config-base-not-pseudo-class-selector}),
  figcaption:not(#{$config-base-not-pseudo-class-selector}),
  footer:not(#{$config-base-not-pseudo-class-selector}),
  header:not(#{$config-base-not-pseudo-class-selector}),
  hgroup:not(#{$config-base-not-pseudo-class-selector}),
  menu:not(#{$config-base-not-pseudo-class-selector}),
  nav:not(#{$config-base-not-pseudo-class-selector}),
  output:not(#{$config-base-not-pseudo-class-selector}),
  ruby:not(#{$config-base-not-pseudo-class-selector}),
  section:not(#{$config-base-not-pseudo-class-selector}),
  summary:not(#{$config-base-not-pseudo-class-selector}),
  time:not(#{$config-base-not-pseudo-class-selector}),
  mark:not(#{$config-base-not-pseudo-class-selector}),
  audio:not(#{$config-base-not-pseudo-class-selector}),
  video:not(#{$config-base-not-pseudo-class-selector}) {
    padding: 0;
    margin: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
    border: 0;
  }

  /* HTML5 display-role reset for older browsers */
  article:not(#{$config-base-not-pseudo-class-selector}),
  aside:not(#{$config-base-not-pseudo-class-selector}),
  details:not(#{$config-base-not-pseudo-class-selector}),
  figcaption:not(#{$config-base-not-pseudo-class-selector}),
  figure:not(#{$config-base-not-pseudo-class-selector}),
  footer:not(#{$config-base-not-pseudo-class-selector}),
  header:not(#{$config-base-not-pseudo-class-selector}),
  hgroup:not(#{$config-base-not-pseudo-class-selector}),
  menu:not(#{$config-base-not-pseudo-class-selector}),
  nav:not(#{$config-base-not-pseudo-class-selector}),
  section:not(#{$config-base-not-pseudo-class-selector}) {
    display: block;
  }

  body:not(#{$config-base-not-pseudo-class-selector}) {
    line-height: 1;
  }

  ol:not(#{$config-base-not-pseudo-class-selector}),
  ul:not(#{$config-base-not-pseudo-class-selector}) {
    list-style: none;
  }

  blockquote:not(#{$config-base-not-pseudo-class-selector}),
  q:not(#{$config-base-not-pseudo-class-selector}) {
    quotes: none;
  }

  blockquote::before:not(#{$config-base-not-pseudo-class-selector}),
  blockquote::after:not(#{$config-base-not-pseudo-class-selector}),
  q::before:not(#{$config-base-not-pseudo-class-selector}),
  q::after:not(#{$config-base-not-pseudo-class-selector}) {
    content: '';
    content: none;
  }

  table:not(#{$config-base-not-pseudo-class-selector}) {
    border-spacing: 0;
    border-collapse: collapse;
  }

  a:not(#{$config-base-not-pseudo-class-selector}) {
    color: inherit;
    text-decoration: none;
  }
}
